:root {
    --checkbox-border: #E6E6F0;
    --checkbox-text: #9C98A6;
    --background-color: #FFF;
}

.form-box .content .form .form-check {
    display: flex;
    flex-direction: row;
}

/* Checkbox */

.form-box .content .form .form-check .checkbox {
    all: unset;
    display: block;
    height: 2.4rem;
    width: 2.4rem;
    background: var(--background-color);
    border: 2px solid #E6E6F0;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 2.4rem;
    cursor: pointer;
}

.form-box .content .form .form-check .checkbox:checked {
    background-image: url('../img/selected.svg');
    background-size: 2rem;
    background-repeat: no-repeat;
}

.form-box .content .form .form-check .checkbox-label label {
    font: 400 1.2rem/1 'Poppins', sans-serif;
    color: var(--checkbox-text);
    margin-top: 2.4rem;
}

.checkbox-label {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.checkbox-label label:first-child {
    margin-left: 1rem;
}