:root {
    font-size: 62.5%;
    /* 10px*/
    --primary-color: #E14B56;
    --another-primary-color: #A43131;
    --secondary-color: #A43131;
    --background-color: #F6F0F0;
    --primary-shape: #FFFFFF;
    --text-base: #9D4949;
    --text-in-input: #ACA8B6;
    --text-title: #D22C2C;
    --text-complements: #8C8C8C;
    --text-base-in-primary-color: #EDA2A2;
    --text-title-in-primary-color: #FFFFFF;
    --button-enable: #027373;
    --button-disable: #DCDCE5;
    --button-text: #9C98A6;
    --text-in-input: #C1BCCC;
    --input-warning: #E14B56;
    --input-background: #FAFAFC;
    --input-border: #E6E6F0;
    --input-enable: #027373;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 100vh;
    background-color: var(--background-color);
}

.form-box .content {
    margin-left: 10rem;
}

.form-box .content header a {
    position: absolute;
    cursor: pointer;
    top: 10px;
}

.form-box .content .title h1 {
    margin-bottom: 2rem;
    font: 600 3.6rem/3.4rem 'Poppins', sans-serif;
    color: var(--text-title);
}

.form-box .content .title p {
    width: 21.3rem;
    margin-bottom: 4rem;
    font: 400 1.6rem/2.6rem 'Poppins', sans-serif;
    color: var(--text-base);
}

.form-box .content .form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form-box .content .form .input-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-box .content .form .input-group label {
    position: absolute;
    left: 2rem;
    top: 2.5rem;
    font: 400 2rem/2rem 'Poppins', sans-serif;
    color: #ACA8B6;
    transition: 300ms;
    cursor: text;
}

.form-box .content .form .input-group .form-control {
    width: 100%;
    height: 7.2rem;
    padding-left: 2rem;
    border: 0.1rem solid var(--background-color);
    box-sizing: border-box;
    font: 400 1.6rem/2.4rem 'Poppins', sans-serif;
    color: var(--text-base);
    background: var(--primary-shape);
    outline: 0;
}

.form-box .content .form .input-group .first-input {
    border-radius: 0.8rem 0.8rem 0 0;
}
.form-box .content .form .input-group .last-input {
    border-radius: 0 0 0.8rem 0.8rem;
    
}

/* Input Valid */

.form-box .content .form .input-group .form-control:valid, .form-control:valid {
    border: 1px solid var(--input-enable);
}

/* Input Invalid */

.form-box .content .form .input-group .form-control:invalid, .form-control:invalid {
    border: 1px solid var(--input-border);
}

/* Input Hover */

.form-box .content .form .input-group .form-control:hover {
    border: 1px solid var(--input-enable);
    transition: 300ms;
}

/* Input focus */

.form-box .content .form .input-group .form-control:focus {
    border: 1px solid var(--input-enable);
    transition: 300ms;
}

.input-focused {
    top: 1.2rem!important;
    font-size: 1.2rem!important;
    transition: 300ms;
}

.form-box .content .form button {
    height: 5.5rem;
    margin-top: 3rem;
    border-radius: 8px;
    font: 600 1.6rem/2.6rem 'Archivo', sans-serif;
    text-align: center;
    color: #9C98A6;
    cursor: pointer;
}

.form-box .content .form:valid .button {
    transition: 300ms;
    background: var(--button-enable);
}

.form-box .content .form:invalid .button {
    transition: 300ms;
    background: var(--button-disable);
}

/* Hover */

.form-box .content .form:valid .button:hover {
    transition: 300ms;
    background: var(--button-enable);
    color: var(--text-title-in-primary-color);
}

.form-box .content .form:invalid .button:hover {
    transition: 300ms;
    background: var(--button-disable);
    color: var(--button-text);
    cursor: no-drop;
}

.overlay-box {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    background-image: url('../img/Monitora.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.overlay-box .overlay h2 {
    font: 600 6.4rem/2.6rem 'Poppins', sans-serif;
    margin-bottom: 4rem;
    color: var(--text-title-in-primary-color);
}

.overlay-box .overlay p {
    width: 60rem;
    font: 600 2.4rem/3.4rem 'Poppins', sans-serif;
    letter-spacing: -0.005em;
    color: var(--text-base-in-primary-color);
}

@media screen and (max-width:1200px) {
    :root {
        font-size: 40%;
    }
    .overlay-box .overlay {
        width: 80%;
    }
    .overlay-box .overlay .img {
        max-width: 60rem;
        height: 60rem;
    }
}

@media screen and (max-width:760px) {
    :root {
        font-size: 60%;
    }
    #app {
        width: 100vw;
        height: 100vh;
        display: grid;
    }
    .overlay-box {
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        background-image: none;
    }
    /* Titulo Overlay */
    .overlay-box .overlay h2 {
        font-size: 4rem;
    }
    /* Paragrafo Overlay */
    .overlay-box .overlay p {
        width: 100%;
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0.08em;
        line-height: 2rem;
    }
    .form-box {
        display: flex;
        width: 100vw;
        height: 60vh;
        background-color: var(--background-color);
    }
    .form-box .content {
        align-items: center;
        margin: 0;
        width: 100vw;
    }
    .form-box .content .title h1 {
        margin-bottom: 2rem;
        font: 600 3.2rem/3.4rem 'Poppins', sans-serif;
        color: var(--text-title);
    }
}