<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700;&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/page-register-finish.css">
    <title>Cadastro Finalizado | Monitora</title>
</head>

<body>

    <div id="app">
        <div class="done-box">
            <img src="/assets/img/finish.svg" alt="">
            <h1>Cadastro concluído</h1>
            <p>Agora você faz parte da plataforma da monitora.
                Tenha uma ótima experiência.</p>
            <button type="submit">Fazer Login</button>
        </div>
    </div>

</body>

</html>